package views

import "Stant/ECommerce/domain"

templ Category(name string, products []domain.Product) {
	@head()
	<html>
		<body>
			@header()
			@categoryBody(name, products)
			@footer()
		</body>
	</html>
}

templ categoryBody(name string, products []domain.Product) {
	<h2>{ name }</h2>
	for _, item := range products {
		<div>{ item.GetName() }</div>
	}
}
