package views

templ Index() {
	@head()
	<html>
		<body>
			@header()
			@body()
      @footer()
		</body>
	</html>
}

templ head() {
	<!DOCTYPE html>
	<head>
		<meta charset="utf8"/>
		<title>TheCompany Market</title>
		<link rel="stylesheet" href="static/css/styles.css"/>
	</head>
}

templ header() {
	<header class="top-bar">
		<h1>TheCompany</h1>
	</header>
}

templ body() {
	<div>
		<p>Hello, World!</p>
	</div>
}

templ footer() {
	<footer>
		<p>© 2025 TheCompany</p>
	</footer>
}
