package views

import (
	"Stant/ECommerce/domain"
	"strconv"
)

templ Product(product domain.Product) {
	@head()
	<html>
		<body>
			@header()
			@productBody(product)
			@footer()
		</body>
	</html>
}

templ productBody(product domain.Product) {
	<h2>{ product.Name() }</h2>
	<h2>{ product.Category() }</h2>
	<h2>{ product.Seller() }</h2>
	<h2>{ strconv.FormatFloat(product.Price(), 'f', -1, 32) }</h2>
}
